@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Roboto:wght@300;400&display=swap');

$color-primary: #904669;
$color-black: #000;
$color-white: #fff;

$font-roboto: 'Roboto', sans-serif;
$font-electrolize: 'Electrolize', sans-serif;
