@import "./colors";
@import "../modules/variables";

@media (max-width: 960px) {
  .navbar {
    position: relative;

    #humberger {
      opacity: 0;
      position: fixed;
    }
    label {
      .lines {
        z-index: 999;
        position: fixed;
        top: 2rem;
        right: 1.5rem;
        width: 2rem;
        height: 2rem;

        .line1 {
          position: absolute;
          right: 0;
          width: 1.5rem;
          height: 0.15rem;
          background-color: $darker;
          transition: all 0.5s;
        }
        .line2 {
          position: absolute;
          top: 0.5rem;
          right: 0;
          width: 1rem;
          height: 0.15rem;
          background-color: $darker;
          transition: all 0.5s;
        }
        .line3 {
          position: absolute;
          top: 1rem;
          right: 0;
          width: 1.5rem;
          height: 0.15rem;
          background-color: $darker;
          transition: all 0.5s;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }

    #menu {
      display: block;
      background-color: $white;
      position: fixed;
      top: 0;
      right: -310px;
      transition: all 1s;
      width: 300px;
      height: 100vh;
      box-shadow: -3px -3px 10px #999;

      & .logo {
        margin-top: 5rem;
      }
      & p {
        position: relative;
        z-index: 999;

        & a {
          font-size: 15px;
          letter-spacing: 2px;
          color: $darker;
          display: block;
          text-align: center;
          padding: 1rem;

          &:hover {
            color: $cWineRed;
          }
        }
      }
    }
  }
  // -----

  #humberger:checked ~ #menu {
    top: 0;
    right: 0;
  }
  #humberger:checked + label .lines .line1 {
    top: 10%;
    width: 80%;
    transform: rotate(-45deg);
  }
  #humberger:checked + label .lines .line2 {
    width: 0;
  }
  #humberger:checked + label .lines .line3 {
    top: 10%;
    width: 80%;
    transform: rotate(45deg);
  }
  #humberger:checked ~ .light-dark {
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}
