@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300&family=Open+Sans:wght@300&display=swap");

@import "./colors";

.main-text {
  font-family: "M PLUS Rounded 1c", sans-serif;

  h1 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 2rem 0;
  }

  .ps {
    margin-right: 4rem;
    p {
      font-size: 0.9rem;
      padding-top: 1rem;
      color: $lighter;
    }
  }
}
