@import "./colors";

.main-text {
  h1 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 2rem 0;
  }

  .ps {
    margin-right: 4rem;
    p {
      font-size: 0.9rem;
      padding-top: 1rem;
      color: $lighter;
    }
  }
}
