@import "modules/variables";
@import "modules/mixin";
@import "modules/appear";
@import "modules/button";
@import "modules/hero-slider";
@import "modules/text-animation";
@import "modules/image-slide";
@import "modules/mobile-menu";

@import "breakpoints/base";

// スマホを横に傾けた状態
@media (min-width: 480px) {
  @import "breakpoints/480up";
}

// タブレット
@media (min-width: 600px) {
  @import "breakpoints/600up";
}

// タブレットを横にした状態か、小さいPC
@media (min-width: 960px) {
  @import "breakpoints/960up";
}

// PC用
@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

// 解像度
@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2) {
  @import "breakpoints/2x";
}

// プリント用
@media print {
  @import "breakpoints/print";
}
